# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/public/libs/angular/
/public/libs/angular-route/
/public/libs/animate.css/
/public/libs/bootstrap/
/public/libs/font-awesome/
/public/libs/jquery/
