
nav ul a,
nav .brand-logo {
  color: #444;
}

body {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-bottom: 5vh;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: visible;
  word-break: break-all;
}

.footer-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.marg{
  margin-top: 20px; 
}