<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<title>Node Chat</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
	<link href="stylesheets/app.css" type="text/css" rel="stylesheet" media="screen,projection" /> 
	<link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" /> 
</head>

<body >
	<main class="container">
		<div class="row">
			
		<h3 class="center-align">Node Chat</h3>
		<form class="col s4 offset-s4" method="post" action="/">
			<label for="room">Room number</label>
	  		<input placeholder="Nº da sala" id="room" name="room" type="text" class="validate center">
	  		<label for="room">Room password</label>
	  		<input placeholder="room password" id="pass" name="pass" type="password" class="validate center">
	  		<label for="room">Username</label>
	  		<input placeholder="username" id="user" name="user" type="text" class="validate center">
	  		<input type="submit" class="waves-effect waves-light btn" value="entrar">
		</form>
		</div>
	</main>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
</body>

</html>